<!DOCTYPE html>
<html>
  <head>
    <title>James Mai</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <%# <script src="https://use.fontawesome.com/9c42476487.js"></script> %>
    <script src="https://kit.fontawesome.com/96b09eb7c2.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    <div class="box">
      <img src="https://media-exp1.licdn.com/dms/image/C5603AQFZOeI3nXbJ_g/profile-displayphoto-shrink_200_200/0/1606631107106?e=1612396800&v=beta&t=sLcTGqA5gXkqdD9NFC0lFqRRHYSRKR69F-o6orV3ocE" alt="" class="box-img">
      <h1>James Mai</h1>
      <h5>Junior Software Developer</h5>
      <h2>About me</h2>

      <p>My name is Mai Van Khai( James Mai)
        <br/>
        <br/>
        I graduated with a College Diploma in Information Technology.
        <br/>
        <br/>
        I am passionate about technology. I like to build personal projects. Most of my time, I am studying to work on projects. I prefer to work with new technology such as Ruby on Rails, ReactJS, SQLite, Postgresql, HTML/CSS. 
      </p>

      <hr/>
      <h2>Education</h2>

      <p> Management Development Institute of Singapore (MDIS), Singapore.<br/> <br/>College Diploma Information Technology, August 2020.</p>

      <hr/>
      <h2>Skill</h2>
      <p>Languages: Fluent in English and Vietnamese. <br/> <br/>Work:  Experience and ability to work well with the team.</p>


    </div>

    <div class="box">
      <ul>
        <li><a href="https://github.com/jamesmai0512"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/james-mai-mai-van-khai-7b4865192/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
        <li><a href="https://dev.to/jamesmai0512"><i class="fab fa-dev"></i></a></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
